[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/usr/local/bin/uwsgi -i .config/uwsgi/mysite_.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target