[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart= uwsgi -i /root/srv/recrutam-backend/.config/uwsgi/mysite.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
